@{
    ViewData["Title"] = "Lista de Filmes";
}

@*<h2>Minha Lista de Filmes</h2>*@
<div class="text-center">
    <h1 class="display-4">Lista de Filmes</h1>
</div>
<div id="body">
    @Html.Hidden("stringSearch")
    @Html.Hidden("page")
</div>


    @*<div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>*@
